<%- include('../partials/head') %>



<div class="container">
  <h1>ِAll Listings</h1>

  <div class="listings-grid">
    <% foundListings.forEach((listing) => { %>
      <div class="card-listing">
        <img src="<%= listing.image.url %>" alt="Image of <%= listing.title %>" class="card-img" />
        <div class="card-content">
          <h3 class="card-title"><%= listing.title %></h3>
          <span class="card-category"><%= listing.category %></span>
          <p class="card-description"><%= listing.description %></p>
          <div class="card-footer">
            <div class="card-price"><%= listing.price %> BHD</div>
            <a href="/listings/<%= listing._id %>" class="btn-view">View Listing</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

</body>
</html>
