<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>show page</title>
</head>
<body>
    <h1><%= foundListing.title %></h1>
     <img src="<%= foundListing.image.url %>" class="img-fluid rounded mb-3" alt="Image of <%= foundListing.title %>">
    
    <p><strong>Price: </strong><%= foundListing.price %> (BHD)</p>
    <p><strong>Description: </strong><%= foundListing.description %></p>
    <p><strong>Seller: </strong><%= foundListing.seller.username %></p>
    <p><strong>Mobile Number: </strong><%= foundListing.content %></p>
   


 

</body>
</html>